<span id="daily-image"></span>
<script>
const choices = ['<img src="https://github.com/devhou-se/www-jp/assets/12438044/a93f673d-0fcc-4adc-963e-64c6d382383b" alt="20240321_203600.jpg" />', '<img src="https://github.com/devhou-se/www-jp/assets/12438044/d7dbd6fa-ca9d-4692-b9d1-7faf77f3fa6e" alt="20240322_094011.jpg" />', '<img src="https://github.com/devhou-se/www-jp/assets/12438044/2e6419e0-a429-446c-8a79-e0a047c2ccfd" alt="20240322_092658.jpg" />', '<img src="https://github.com/devhou-se/www-jp/assets/12438044/9e07a860-f2a0-4f91-8a35-b3a696bb27e6" alt="20240322_123945.jpg" />', '<img src="https://github.com/devhou-se/www-jp/assets/12438044/e3762b70-2b51-4505-90e7-cfee78ee6411" alt="20240323_070722.jpg" />'];
const choice = choices[Math.floor(Math.random() * choices.length)];
const imgSpan = document.getElementById("daily-image");
imgSpan.innerHTML = choice;
</script>
