<span id="daily-image"></span>
<script>
const choices = ['<a href="/365"><img src="https://github.com/devhou-se/www-jp/assets/12438044/28095afc-b0f2-4b25-bc30-2b79f3a6b9da" alt="20240413_100823.jpg" /></a>', '<a href="/361"><img src="https://github.com/devhou-se/www-jp/assets/12438044/b4c52b9d-c7fb-43d5-9f67-fe0525a946aa" alt="20240412_085027.jpg" /></a>', '<a href="/361"><img src="https://github.com/devhou-se/www-jp/assets/12438044/05fb6879-e5f5-4f25-aee4-93ae4d74e898" alt="20240412_100724.jpg" /></a>', '<a href="/361"><img src="https://github.com/devhou-se/www-jp/assets/12438044/bf3eefcb-f1a8-4926-9317-b47012e0e31b" alt="20240412_114210.jpg" /></a>'];
const choice = choices[Math.floor(Math.random() * choices.length)];
const imgSpan = document.getElementById("daily-image");
imgSpan.innerHTML = choice;
</script>
