{{ define "main" }}
<p>デベーハウスのホームページです。日本各地への旅行に関するリソースが見つかります。定期的に最新情報を入手するには、当社のブログをフォローしてください。</p>
<p>デベーハウスの旅のパート1は東京です。私たちは3月22日から3月27日まで東京に滞在します。そこから、開発ハウスの旅のパート2を実行します。その後4月1日まで大阪に滞在します。</p>
<p>デベーハウスのメンバー
<ul>
    <li>ベイリー<img class="絵文字 絵文字-ピンク"/></li>
    <li>ダミアン<img class="絵文字 絵文字-頭蓋骨"/></li>
    <li>ディラン<img class="絵文字 絵文字-ピエロ"/></li>
    <li>ジェームス<img class="絵文字 絵文字-目"/></li>
    <li>ジュリア<img class="絵文字 絵文字-虹"/></li>
</ul>
</p>
<hr />
<h2>デベーハウス2のお知らせ</h2>
<p>デベーハウス2は2025年10月26日から11月17日まで行われます。今回の旅では、仙台、東京、福岡、大阪を訪れます。また、一部のメンバーは金沢にも足を運ぶ予定です。</p>
<p>デベーハウス2のメンバー
<ul>
    <li>ベイリー</li>
    <li>ダミアン</li>
    <li>ディラン</li>
    <li>ジュリア</li>
    <li>ヤシュク</li>
</ul>
</p>
<p>（※ジェームスはデベーハウス2には参加しません。）</p>
{{ end }}
