/* Palette
#E83761
#BD2B4C
#A2354C
#FAA800
#2B1005
 */

html, body {
    margin: 0;
    padding: 0;
    background-color: #FAA800;
    min-width: 960px;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #A2354C;
}

div.章 {
    background-color: #fff;
    border: 1px solid #777;
    margin: 5px;
    padding: 15px;
}

a, a:visited, a:link {
    color: inherit;
    text-decoration: underline;
}

a:hover, a:active {
    color: #f00;
}

table {
    border: 1px solid #333;
}

td, th {
    border: 1px solid #333;
    padding: 0 .2em;
}

div.コンテナ {
    width: 1100px;
    margin: 10px auto;
}

div.ヘッダ {
    background: none;
    border: none;
    color: #E83761;
    font-size: 1.25em;
}

div.ヘッダ h2 {
    color: #E83761;
}

div.ヘッダ img {
    height: 64px;
    margin: -22px 8px;
}

div.ヘッダ h2 {
    font-family: monospace;
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.ヘッダ ul.リンク {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
}

div.ヘッダ ul.リンク li {
    display: inline;
    margin-left: 20px;
}

div.主要 div.左-ナビ {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

div.主要 div.左-ナビ ul {
    padding-left: 15px;
}

div.主要 div.内容 {
    display: inline-block;
    width: 530px;
    vertical-align: top
}

div.主要 div.内容 div.コンテンツ {
    font-size: 1.4em;
    line-height: 1.6em;
}

div.主要 div.内容 img {
    max-width: 100%;
}

div.主要 div.右-ナビ {
    display: inline-block;
    width: 209px;
    vertical-align: top;
}

div.主要 div.右-ナビ img {
    max-width: 100%;
}

footer {
    text-align: center;
}

.reaction-badge-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a.reaction-badge {
    text-decoration: none;
    border: none;
    display: flex;
    padding: 1em 0.6em;
    margin-right: 0.5em;
    border-radius: 1em;
    background-color: #efefef;
    font-size: 0.75em;
    line-height: 1;
    color: #24292e;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

a.reaction-badge:hover {
    background-color: #d0d0d0;
}

.reaction-badge td {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

ruby rt {
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For IE/Edge */
}
