html, body {
    margin: 0;
    padding: 0;
    background-color: #cbd7f1;
    min-width: 960px;
    font-family: sans-serif;
}

div.章 {
    background-color: #fff;
    border: 1px solid #777;
    margin: 5px;
    padding: 15px;
}

a, a:visited, a:link {
    color: #000;
    text-decoration: none;
}

a:hover, a:active {
    color: #f00;
}

table {
    border: 1px solid #333;
}

td, th {
    border: 1px solid #333;
    padding: 0 .2em;
}

div.コンテナ {
    width: 960px;
    margin: 10px auto;
}

div.ヘッダ {

}

div.ヘッダ h2 {
    font-family: monospace;
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.ヘッダ ul.リンク {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
}

div.ヘッダ ul.リンク li {
    display: inline;
    margin-右: 10px;
}

div.主要 div.左-ナビ {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

div.主要 div.内容 {
    display: inline-block;
    width: 425px;
    vertical-align: top;
}

div.主要 div.内容 img {
    max-width: 100%;
}

div.主要 div.右-ナビ {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

div.主要 div.右-ナビ img {
    max-width: 100%;
}
