img.devtrain {
    margin-bottom: -61px;
    height: 15px;
    width: 15px;
    background-image: url("/images/devtrain.png");
    background-repeat: no-repeat;
    transform: scale(-1, 1);
}

img.devtrain.p1 {
    height: 153px;
    width: 400px;
    background-position: 0px 1px;
}

@keyframes moveTrain {
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(100vw);
    }
    50.01% {
        transform: translateX(100vw);
        display: none;
    }
    50.02% {
        display: block;
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

.bottom {
    position: fixed;
    bottom: 0;
}

.animated-train {
    animation: moveTrain 60s linear infinite;
}