{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ $authors := .Param "authors" }}
{{ if $authors }}
<div style="display: flex; align-items: flex-start; gap: 16px; margin-bottom: 16px;">
  <div style="flex-shrink: 0;">
    {{ range $index, $author := $authors }}
      {{ if eq $index 0 }}
        <img src="/images/avatars/{{ $author }}.png" alt="{{ $author }}" style="width: 64px; height: 64px;">
      {{ end }}
    {{ end }}
  </div>
  <div>
    <p style="margin: 0;">投稿日{{ .Date.Format "2006年01月02日15時04分" }}</p>
    <p style="margin: 0;">投稿者{{ delimit $authors ", " }}</p>
  </div>
</div>
{{ else }}
<p>投稿日{{ .Date.Format "2006年01月02日15時04分" }}</p>
{{ end }}
{{ if $authors }}
{{ $firstAuthor := index $authors 0 }}
<a id="rss-button" href="/authors/{{ $firstAuthor }}/feed.xml" style="display: inline-block; margin-bottom: 16px; padding: 6px 12px; background-color: #FF6600; color: white; text-decoration: none; border-radius: 4px; font-size: 14px;" title="RSS フィードを購読">
  <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; fill: currentColor;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.18,15.64A2.18,2.18 0 0,1 8.36,17.82C8.36,19 7.38,20 6.18,20C5,20 4,19 4,17.82A2.18,2.18 0 0,1 6.18,15.64M4,4.44A15.56,15.56 0 0,1 19.56,20H16.73A12.73,12.73 0 0,0 4,7.27V4.44M4,10.1A9.9,9.9 0 0,1 13.9,20H11.07A7.07,7.07 0 0,0 4,12.93V10.1Z" />
  </svg>
  <span id="rss-button-text">{{ $firstAuthor }} の RSS を購読</span>
</a>
{{ end }}
<hr>
<div class="コンテンツ">
{{ replaceRE `\[([^\]]*)\]{[^\}]*}` `$1` .Content | safeHTML }}
</div>
{{- partial "reactions.html" . -}}
{{ end }}

